<div class="container-planet">
  <div class="card-planet">
    <div class="card-planet-title">
      {{$ctrl.planet.name}}
    </div>
    <div class="card-planet-content">
      <div class="item">
        <span>Population: {{$ctrl.planet.population}}</span>
      </div>
      <div class="item">
        <span>Climate: {{$ctrl.planet.climate}}</span>
      </div>
      <div class="item">
        <span>Terrain: {{$ctrl.planet.terrain}}</span>
      </div>
      <div class="item">
          <span>Featured in films: {{$ctrl.planet.films.length}}</span>
        </div>
    </div>
  </div>
  <button ng-click="$ctrl.getPlanets()"> next Planet</button>
  
  <div class="btn btn-link">
      <a href="/#!/form">Acess form</a>
  </div>

</div>

