/* Component's private CSS styles */
.container-planet{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-planet{
  display: flex;
  width: 400px;
  height: 290px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: #607D8B 1px solid;
  &-title{
    padding: 10px;
    text-align: center;
    width: calc(100% - 0px);
    border-bottom: #607D8B 1px solid;
    font-size: 40px;
  }
  &-content{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    font-size: 23px;
    border: none;
    padding: 15px;
    width:calc(100% - 30px)
  }
  .item{
    text-align: left;
    padding-bottom: 10px
  }
}




